<a href="https://colab.research.google.com/github/josepaul1986/aprendiendo-python/blob/main/Sesion_3_y_4_Python_Tipos_Datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <center> PYTHON - Sesión 2 </center>

## 1. Cadenas (clase str)
Secuencia de caracteres alfanuméricos que representan texto. Se escriben entre comillas sencillas ’ o dobles “.

In [ ]:
my_string = "Let’s Learn Python!"

another_string = 'It may seem difficult first, but youcan do it!'

Cadenas multilinea en Python

In [ ]:
a_long_string = '''Yes, you can even master multi-line
strings esto es una plantilla
 para responder ante un reclamo
 y/o enviar un saludo de cumpleaños,
 dependiendo el dia
 that cover more than one line
 with some practice'''

In [ ]:
cadena = 'Python'

In [ ]:
#Crear Palabra Tony usando la cadena anterior
c = cadena
tony = c[2] + c[4] + c[5] + c[1]
print(tony)

tony

## Acceso a los elementos de una cadena
Cada carácter tiene asociado un índice que permite acceder a él.

### Cadena-:	P	| y |	t | h |	o |	n
### Índice(+)	0	| 1 |	2 |	3 |	4 |	5
### Índice(-) -6 |	-5|	-4|	-3|	-2|	-1

* c[i] devuelve el carácter de la cadena c con el índice i.

 ### El índice del primer carácter de la cadena es 0.

También se pueden utilizar índices negativos para recorrer la cadena del final al principio.

 El índice del último carácter de la cadena es -1.

In [ ]:
palabra = 'El HOMBRE araña'

In [ ]:
print(palabra)

El HOMBRE araña

In [ ]:
palabra[0]

'E'

In [ ]:
#El HOMBRE araña
palabra[2]

' '

In [ ]:
#El HOMBRE araña
palabra[-1]

'a'

In [ ]:
#Hombre
palabra[3:9]

'HOMBRE'

In [ ]:
#  palabra = 'El HOMBRE araña'
# REGLA !!! = Que al ultimo valor de la cadena a la que queremos acceder debemos de sumarle 1
# [posicion inicial : posicion final + 1]
palabra[3:8+1]

'HOMBRE'

In [ ]:
#palabra = 'El HOMBRE araña'
palabra[-12:-7+1]

'HOMBRE'

In [ ]:
#palabra = 'El HOMBRE araña'
palabra[3:15]

'HOMBRE araña'

In [ ]:
#palabra = 'El HOMBRE araña'
palabra[3:]

'HOMBRE araña'

In [ ]:
#palabra = 'El HOMBRE araña'
palabra[-12:8+1]

'HOMBRE'

In [ ]:
#palabra = 'El HOMBRE araña'
palabra[10:14+1]

'araña'

In [ ]:
#palabra = 'El HOMBRE araña'
#palabra[-5:]
palabra[10:]

'araña'

In [ ]:
#palabra = 'El HOMBRE araña'
palabra[-5:]

'araña'

## Operaciones con cadenas
* c1 + c2 : Devuelve la cadena resultado de concatenar las cadenas c1 y c2.
* c * n : Devuelve la cadena resultado de concatenar n copias de la cadena c.
* c1 in c2 : Devuelve True si c1 es una cadena concenida * en c2 y False en caso contrario.
* c1 not in c2 : Devuelve True si c1 es una cadena no concenida en c2 y False en caso contrario.

In [ ]:
my_string = "Let’s Learn Python!"
another_string = 'It may seem difficult first, but you can do it!'

In [ ]:
my_string + another_string + ' hola a todos'

'Let’s Learn Python! It may seem difficult first, but you can do it!  hola a todos'

In [ ]:
print(my_string, another_string, sep = '\n')
print(my_string, another_string, "Let's wrap this up!")

Let’s Learn Python!
It may seem difficult first, but you can do it!
Let’s Learn Python! It may seem difficult first, but you can do it! Let's wrap this up!

In [ ]:
print(my_string, another_string, sep = '|')

Let’s Learn Python!|It may seem difficult first, but you can do it!

In [ ]:
my_string_2 = my_string * 3
print(my_string_2)

Let’s Learn Python!Let’s Learn Python!Let’s Learn Python!

In [ ]:
#my_string = "Let’s Learn Python!"
'y' in my_string

True

In [ ]:
'Y' in my_string

False

In [ ]:
'tho' in my_string

True

In [ ]:
'to' not in my_string

True

## Programación Orientada a Objetos:

1. Clase:
* Definición: Una clase es como un plano o una plantilla para crear objetos. Especifica los atributos y comportamientos que los objetos de esa clase tendrán.
* Analogía: Puedes pensar en una clase como un molde para hacer galletas. El molde define la forma y el tamaño de todas las galletas que vas a hacer, pero no es en sí misma una galleta.
2. Objeto:
* Definición: Un objeto es una instancia de una clase. Es una entidad concreta que tiene estado (atributos) y comportamiento (métodos) definidos por su clase.
* Analogía: Si la clase es el molde de galletas, entonces un objeto sería una galleta específica que has hecho usando ese molde. Cada galleta puede tener características individuales (como color, sabor, etc.) pero comparten la misma forma y estructura básica definida por el molde.
3. Método:
* Definición: Un método es una función asociada a una clase que define el comportamiento de los objetos de esa clase. Los métodos son acciones que un objeto puede realizar.
* Analogía: Los métodos son como recetas para hacer cosas con las galletas. Por ejemplo, podrías tener un método llamado "decorar" que pone glaseado en las galletas. Este método define una acción que las galletas (objetos) pueden realizar.

In [ ]:
#Palabra es un objeto, creado por la clase STRING

palabra = 'El HOMBRE araña'

In [ ]:
palabra.lower()

'el hombre araña'

In [ ]:
palabra.title()

'El Hombre Araña'

In [ ]:
#poner en mayuscula
palabra.upper()

'EL HOMBRE ARAÑA'

In [ ]:
palabra.capitalize()

'El hombre araña'

In [ ]:
palabra.title()

'El Hombre Araña'

In [ ]:
palabra.lower()

'el hombre araña'

In [ ]:
#Palabra es un objeto, creado por la clase INTEGER
numero = 10

In [ ]:
numero = '20'
type(numero)

str

In [ ]:
numero_2 = int(numero)
numero_2

20

In [ ]:
type(numero_2)

int

In [ ]:
numero = 20.5
type(numero)

float

# 2. Condicionales (if)

```
if condición1:
    bloque código
elif condición2:
    bloque código
 …
else :
    bloque código

 ```

Evalúa la expresión lógica condición1 y ejecuta el primer bloque de código si es True; si no, evalúa la siguientes condiciones hasta llegar a la primera que es True y ejecuta el bloque de código asociado. Si ninguna condición es True ejecuta el bloque de código después de else:.

## Pueden aparecer varios bloques elif pero solo uno else al final.

 Los bloques de código deben estar indentados por 4 espacios.

La instrucción condicional permite evaluar el estado del programa y tomar decisiones sobre qué código ejecutar en función del mismo.

* Equals: a == b
* Not Equals: a != b
* Less than: a < b
* Less than or equal to a <= b
* Greater than: a > b
* Greater than or equal to: a >= b

## 2.1.  Condición simple

In [ ]:
edad = 10

if edad >= 5:
  print('Es mayor de 5 años')

Es mayor de 5 años

In [ ]:
# Los dos puntos (:) es importante agregar para indicarle a python que termine de poner la condicion.
# Los espacios posterior a los dos puntos (:) es obligatorio

edad = 20

if edad >= 18:
  print('Es mayor de edad')
else:
  print('Es menor de edad')

Es mayor de edad

In [ ]:
edad = 30

if edad >= 18:
  print('Es mayor de edad') # aca finalizo el bloque de codigo

print('Es menor de edad')

Es mayor de edad
Es menor de edad

In [ ]:
# If anidados
edad = 70

if edad >= 18:
  print('Es mayor de edad')
  if edad >= 65:
    print('Es un adulto mayor')
else:
  print('Es menor de edad')

In [ ]:
# agregando if dentro de los else anidados
edad = 16

if edad >= 18:
  print('Es mayor de edad')
  if edad >= 65:
    print('Es un adulto mayor')
else:
  if edad >= 15:
    print('Es un adolecente')
  else:
    print('es un niño')

In [ ]:
# ELIf, nos permite agregando n cantidad de condicionales adicionales
edad = 70

if edad >= 18:
  print('Es mayor de edad')
  if edad >= 65:
    print('Es un adulto mayor')
elif edad >= 15:
    print('Es un adolecente')
else:
  print('es un niño')

In [ ]:
# ELIf, nos permite agregando n cantidad de condicionales adicionales
edad = 14

if edad >= 15:
    print('Es un adolecente')
elif edad >= 18:
  print('Es mayor de edad')
  if edad >= 65:
    print('Es un adulto mayor')
elif:
  .
  .
  .
  .
  .
elif:
  .
  .
  .
  .
  .

else:
  print('es un niño')

In [ ]:
# Concionales con operadores logicos (and / or)
# Opcion 1

edad = 17

if (edad >= 18 and edad <= 40) or (edad >= 45 and edad <= 65):
  print('Es un adulto')
elif edad > 65:
  print('es un adulto mayor')
else:
  print('Es un adolecente')

In [ ]:
# Concionales con operadores logicos
# Opcion 2 (intervalos)

edad = 61

if (18 <= edad <= 60) or edad == 61:
  print('Es un adulto')
elif edad > 65:
  print('es un adulto mayor')
else:
  print('Es un adolecente')

In [ ]:
if 5 > 6:
  print('That’s True!')
print('Línea 2')

In [ ]:
if 5 > 6:
  print('That’s True!')
  if 1>0:
    print('Linea extra')
print('Línea 2')

In [ ]:
edad = 13
if edad >= 18:
  print('Es mayor de edad')

## 2.2 Condición anidada

In [ ]:
x = 25
if x > 20:
  print('Above twenty,')
  if x > 30:
    print('and also above 30!')

In [ ]:
edad = 30
if edad >= 18:
  print('Es mayor de edad')
print('Es menor de edad')

In [ ]:
edad = 10
if edad >= 18:
  print('Es mayor de edad')
else:
  if edad < 11:
    print('Es un niño')
  print('Es menor de edad')

In [ ]:
edad = 17
if edad >= 18:
  print('Es mayor de edad')
elif edad < 2:
  print('Es un bebé')
elif edad < 11:
  print('Es un niño')
else:
  print('error')

## 2.3 ELIF - Condición

In [ ]:
a = 45
b = 45
if b > a:
  print('b is greater than a')
elif a == b:
  print('a and b are equal')

# 3. Bucles
## Bucles condicionales (while)
* while condición:
*    bloque código

Repite la ejecución del bloque de código mientras la expresión lógica condición sea cierta.

Se puede interrumpir en cualquier momento la ejecución del bloque de código con la instrucción **break**.

 El bloque de código debe estar **indentado por 2 espacios o un tab.**

In [ ]:
nombre1 = input('Ingrese nombre del alumno')
nombre2 = input('Ingrese nombre del alumno')
nombre3 = input('Ingrese nombre del alumno')
...
nombre100 = input('Ingrese nombre del alumno')

In [ ]:
while True:
  nombre = input('Ingrese nombre del alumno')

In [1]:
# Requiero registrar 5 alumnos - nombres
contador = 1 #Contador

while contador <= 5 :
  nombre = input('Ingrese nombre del alumno: ')
  contador = contador + 1

Ingrese nombre del alumno: Paul
Ingrese nombre del alumno: Jose
Ingrese nombre del alumno: Ramon
Ingrese nombre del alumno: Pedro
Ingrese nombre del alumno: Mike

In [ ]:
# Requiero registrar 5 alumnos - nombres
contador = 1 #Contador

while contador <= 5 :
  print('El valor del contador es:',contador)
  nombre = input('Ingrese nombre del alumno: ')
  contador = contador + 1

In [ ]:
cantAlum = 3 # Requiero registrar 5 alumnos - nombres
contador = 1 #Contador

while contador <= cantAlum :
  print('El valor del contador es:',contador)
  nombre = input('Ingrese nombre del alumno: ')
  contador += 1 # contador = contador + 1

El valor del contador es: 1
Ingrese nombre del alumno: 3
El valor del contador es: 2
Ingrese nombre del alumno: Walter
El valor del contador es: 3
Ingrese nombre del alumno: David

In [ ]:
cantAlum = 3  # Requiero registrar notas 3 alumnos - nombres
contador = 1 # Contador
totalNotas = 0 # Acumulador

while contador <= cantAlum:
  nota = int(input('Ingrese nota del alumno: '))
  totalNotas = totalNotas + nota #Acumulador
  print('Valor de Total Notas',totalNotas )
  contador += 1 # contador = contador + 1

promedio = totalNotas / cantAlum
print('El promedio es',round(promedio,0))

In [ ]:
cantAlum = 5  # Requiero registrar notas 3 alumnos - nombres
contador = 1 # Contador
totalNotas = 0 # acumulador

while contador <= cantAlum:
  nota = int(input('Ingrese nota del alumno: '))
  totalNotas = totalNotas + nota #Acumulador
  print('Valor de Total Notas',totalNotas )
  contador += 1 # contador = contador + 1

  promedio = totalNotas / (contador-1)
  print('El promedio es',round(promedio,0))

**10 minutos**

**Ejercicio**, crea un programa que permita registrar los sueldos de los colaboradores de una empresa

1.   Solicitar al usuario cuanto s colaboradores son parte de la empresa.
2.   Registrar los sueldos.
3.   Mostrar el promedio de sueldos.

In [ ]:
while 1==1:
  print('Hola esto es una prueba')
  print('---')

In [ ]:
# Pregunta al usuario por un número hasta que introduce 0.
# != : Signfica diferente
num = None

while num != 0:
  num = int(input('Introduce un número: '))
  print('Ha ingresado',num)

Alternativa

In [ ]:
#num = None
while True:
  num = int(input('Introduce un número: '))
  if num == 0:
    break

In [ ]:
while False:
  print('hola')

In [ ]:
i = 0 #contador

while i<= 8:
  print('orden',i)
  i += 1 #i = i + 1

# 4. Bucles iterativos (for)
* for i in secuencia:
*    bloque código

**Repite la ejecución** del bloque de código para cada elemento de la secuencia secuencia, asignado dicho elemento a i en cada repetición.

Se puede interrumpir en cualquier momento la ejecución del bloque de código con la instrucción break o saltar la ejecución para un determinado elemento de la secuencia con la instrucción continue.

## El bloque de código debe estar indentado por 2 espacios o tab.

Se utiliza fundamentalmente para recorrer colecciones de objetos como cadenas, listas, tuplas o diccionarios.

A menudo se usan con la instrucción range:

* range(fin) : Genera una secuencia de números enteros desde 0 hasta fin-1.
* range(inicio, fin, salto) : Genera una secuencia de números enteros desde inicio hasta fin-1 con un incremento de salto.

In [ ]:
range(5)
# 0,1,2,3,4

In [ ]:
range(2,7)
# 2,3,4,5,6

In [ ]:
#range(4): 0, 1, 2, 3

for iterante in range(4):
  print(iterante+1)

In [ ]:
for iterante in 'Python':
  print(iterante)

In [2]:
# range(4,5,6,7,8,9,10,11)

for iterante in range(4,12):
  print(iterante)

4
5
6
7
8
9
10
11

In [3]:
#Listas usando for
for iterante in [30,40,'Dany',True,70,10]:
  print(iterante)

30
40
Dany
True
70
10

In [ ]:
#Crear un programa que me permita registrar la nota de 5 alumnos
cantAlum = int(input('Ingrese la cantidad de alumnos: '))
acumNota = 0

for iterante in range(3): #range(0,1,2)
  nota = int(input(f'Ingrese la nota del alumno {iterante+1}: '))
  acumNota = acumNota + nota

promNota = acumNota / cantAlum
print('El promedio de notas es: ',promNota)

In [6]:
for i in range(10,1,-2):
  print(i)

10
8
6
4
2

In [4]:
palabra = 'dany'

for iterante in palabra:
  print(iterante)

d
a
n
y

In [7]:
letra

NameError: name 'letra' is not defined

In [ ]:
nrNota= 5
totalNotas = 0 #acumuladora
#range(5): 0,1,2,3,4
for i in range(5):
  nota = int(input('Ingrese nota: '))
  totalNotas = totalNotas + nota

In [ ]:
print(i)

In [ ]:
# 1,3,5,7,9
for i in range(1, 10, 2):
  print(i)

In [10]:
# Uso de la funcion find
# find, me devuelve la posicion del indice que tiene la palabra buscada y devuelve el primer valor que encuentre.
palabra = 'Python'

palabra.find('o')

palabra[palabra.find('o')]

'o'

In [11]:
ABC = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

ABC.find('Y')+1

25

#Ejercicio de 15 minutos

Se requiere crear un programa que te autogenere el codigo para los nuevos empleados, donde el codigo va a ser la concatenacion de las posiciones que tienen cada letra de su nombre en el abecedario.

Input: 'Dany'

Output: 04011426

ABC = 'ABCDEFGHIJKLMNÑOPQRSTUVWXYZ'

In [18]:
source = 'ABCDEFGHIJKLMNÑOPQRSTUVWXYZ'
username = input('Please input the username:').upper()
genpass = ''
for letter in username:
  print('Username Letter: ',letter)
  print('Username Letter Value',source.find(letter))
  genpass = genpass + str(source.find(letter)+1)

print('Generated Pass is:',genpass)

Please input the username:palvarado
Username Letter:  P
Username Letter Value 16
Username Letter:  A
Username Letter Value 0
Username Letter:  L
Username Letter Value 11
Username Letter:  V
Username Letter Value 22
Username Letter:  A
Username Letter Value 0
Username Letter:  R
Username Letter Value 18
Username Letter:  A
Username Letter Value 0
Username Letter:  D
Username Letter Value 3
Username Letter:  O
Username Letter Value 15
Generated Pass is: 17112231191416

## Ejercicio 1 - CADENAS
* Dado una cadena de con el siguiente formato de hora: hhmmss (18:24:50)
* Convertir a formato DATETIME
* mostrar el siguiente mensaje : “Son las 18h:24min:50seg”

In [ ]:
#Conversor de datetime con string
hora_ingresada = input('¿Cuál es la hora que quiere convertir? [hh:mm:ss]');
hh = hora_ingresada[:3]
mm = hora_ingresada[3:6]
ss = hora_ingresada[6:]
hora_expresada = hh+'h:'+mm+'min:'+ss+'seg'
print('Son las',hora_expresada)

¿Cuál es la hora que quiere convertir? [hh:mm:ss]18:24:50
Son las 18:h:24:min:50seg

## Ejercicio 2 - CADENAS

Escribir un programa que pregunte su edad y nombre completo del usuario en la consola e imprima su edad y formato donde la primera letra es mayúscula y los demás minúscula.
> Ejemplo:
* nombre ingresado: 20 jimmy farfan
* outPut: Su edad: 20 años
* outPut: Su nombre Jimmy Farfan

In [ ]:
# Edad nombre splitter
info = input('Ingrese su edad y nombre completo separado por espacios: ')
info_split = info.split()
print('Su edad:',info_split[0],'años')
print('Su nombre:',info_split[1],info_split[2])

Ingrese su edad y nombre completo separado por espacios: 20 jimmy farfan
Su edad: 20 años
Su nombre:  jimmy farfan

## Ejercicio 2.2
**input:** Nombre ingresado: 20 jimmy FARFAn

**output:** El nombre del participante es Jimmy Farfan y su edad es 20 años

Ejemplo: La edad debe de contener 2 digitos, por ejemplo un 9 deberia de ser 09.

Desarrollar

In [ ]:
# Edad nombre splitter
info = input('Ingrese su edad y nombre completo separado por espacios: ')
info_split = info.split()
print('El nombre del participante es',info_split[1].title(),info_split[2].title(),'y su edad es',info_split[0])

Ingrese su edad y nombre completo separado por espacios: 20 jimmy FARFAn
El nombre del participante es Jimmy Farfan y su edad es 20

## Ejercicio 3 - CONDICIONALES

En una oficina de empleos categorizan a los postulantes en función del sexo y de la edad de acuerdo con lo siguiente:
* Si la persona es de sexo femenino: categoría FA si tiene menos de 23 años y FB, en caso contrario.
* Si la persona es de sexo masculino: categoría MA si tiene menos de 25 años y MB, en caso contrario. Dado el sexo y la edad de un postulante, diseñe un programa que determine su categoría.

## Ejercicio 4 - CONDICIONALES

Una tienda vende un producto a precios unitarios que dependen de la cantidad de unidades adquiridas de acuerdo a la tabla adjunta:

  * de 1 a 25: Precio 27.7
  * de 26 a 50: Precio 25.5
  * de 51 a 75: Precio 23.7
  * de 76 a mas: Precio 21.7

* Adicionalmente, si el cliente adquiere más de 50 unidades la tienda le descuenta el 15% del importe de la compra; en caso contrario, sólo le descuenta el 5% del importe compra.
* Diseñe un programa que determine el importe de la compra, el importe del descuento y el importe a pagar por la compra de cierta cantidad de unidades del producto.

## Ejercicio 5 - Bucles

Calcular el sueldo promedio:

1. Ingresa la cantidad de sueldo a promediar
2. Ingresar los sueldos
3. Calcular el promedio de los sueldo.

## Ejercicio 6 - CADENAS

Escribir un programa que pregunte el nombre completo del usuario en la consola y después muestre por pantalla el nombre completo del usuario tres veces, una con todas las letras minúsculas, otra con todas las letras mayúsculas y otra solo con la primera letra del nombre y de los apellidos en mayúscula. El usuario puede introducir su nombre combinando mayúsculas y minúsculas como quiera.

## Ejercicio 7 - CONDICIONALES

Escribir un programa que pida al usuario dos números y muestre por pantalla su división. Si el divisor es cero el programa debe mostrar un error.

## Ejercicio 8 - CONDICIONALES

Escribir un programa que pida al usuario un número entero y muestre por pantalla si es par o impar.

# Ejercicio 9 - CONDICIONALES

Para tributar un determinado impuesto se debe ser mayor de 16 años y tener unos ingresos iguales o superiores a 1000 € mensuales. Escribir un programa que pregunte al usuario su edad y sus ingresos mensuales y muestre por pantalla si el usuario tiene que tributar o no.

## Ejercicio 10 - CONDICIONALES

Los tramos impositivos para la declaración de la renta en un determinado país son los siguientes:

|         Renta          | Tipo impositivo |
| :--------------------: | :-------------: |
|    Menos de 10000€     |       5%        |
| Entre 10000€ y 20000€  |       15%       |
| Entre 20001€ y 35000€  |       20%       |
| Entre 35001€ y 60000€  |       30%       |
|     Más de 60000€      |       45%       |

Escribir un programa que pregunte al usuario su renta anual y muestre por pantalla lo que tiene que pagar.

## Ejercicio 11 - CONDICIONALES

En una determinada empresa, sus empleados son evaluados al final de cada año. Los puntos que pueden obtener en la evaluación comienzan en 0.0 y pueden ir aumentando, traduciéndose en mejores beneficios.
Los puntos que pueden conseguir los empleados pueden ser 0.0, 0.4. o 0.6, pero no valores intermedios entre las cifras mencionadas.
A continuación se muestra una tabla con los niveles correspondientes a cada puntuación.
La cantidad de dinero conseguida en cada nivel es de 2.400€ multiplicada por la puntuación del nivel.

|    Nivel    | Puntuación |
| :---------: | :--------: |
| Inaceptable |    0.0     |
|  Aceptable  |    0.4     |
|  Meritorio  |    0.6     |

Escribir un programa que lea la puntuación del usuario e indique su nivel de rendimiento, así como la cantidad de dinero que recibirá el usuario.

## Ejercicio 12 - CONDICIONALES


La pizzería Bella Napoli ofrece pizzas vegetarianas y no vegetarianas a sus clientes.
Los ingredientes para cada tipo de pizza aparecen a continuación.

- Ingredientes vegetarianos: Pimiento y tofu.
- Ingredientes no vegetarianos: Peperoni, Jamón y Salmón.

Escribir un programa que pregunte al usuario si quiere una pizza vegetariana o no, y en función de su respuesta le muestre un menú con los ingredientes disponibles para que elija.
Solo se puede eligir un ingrediente además de la mozzarella y el tomate que están en todas la pizzas.
Al final se debe mostrar por pantalla si la pizza elegida es vegetariana o no y todos los ingredientes que lleva.

## Ejercicio 13 - BUCLES

Escribir un programa que pida al usuario una palabra y la muestre por pantalla 10 veces.

## Ejercicio 14 - BUCLES

Escribir un programa que pregunte al usuario su edad y muestre por pantalla todos los años que ha cumplido (desde 1 hasta su edad).

## Ejercicio 15 - BUCLES

Escribir un programa que pida al usuario un número entero positivo y muestre por pantalla todos los números impares desde 1 hasta ese número separados por comas.

## Ejercicio 16 - BUCLES + CONDICIONALES

Escribir un programa que almacene la cadena de caracteres contraseña en una variable, pregunte al usuario por la contraseña hasta que introduzca la contraseña correcta.

## Ejercicio 17 - BUCLES

Escribir un programa que muestre el eco de todo lo que el usuario introduzca hasta que el usuario escriba “salir” que terminará.

## EJERCICIO FINAL

Una empresa desarrolladora de Software ha puesto a la venta licencias de su programa de edición de videos "Video Edit 2.0" a los siguientes costos:


|    Licencia    | Costos |
| :---------: | :--------: |
| Cobre |    $510     |
|  Bronze  |    1500     |
|  Silver  |    3100     |
|  Gold  |    4500     |


Diseñe un programa que permita ingresar por cada venta el tipo de licencia y la cantidad de licencias, y muestre luego cada venta:

* El importe a pagar por la venta efectuada.
* El importe total recaudado por cada tipo de licencia.
* La cantidad de licencias vendidas por cada tipo de licencia.
* La cantidad de ventas por cada tipo de licencia.

In [ ]:
respuesta = 'Y'
carrito = []
while respuesta == 'Y':
  Licencia = input('Ingresar licencia a comprar (cobre,bronce,silver,gold): ')
  if Licencia == 'cobre':
    costo = 510
  elif Licencia == 'bronce':
    costo = 1500
  elif Licencia == 'silver':
    costo = 3100
  elif Licencia == 'gold':
    costo = 4500
  print('Licencia seleccionada : ', Licencia, '$', costo)
  respuesta = input('Desea comprar esta licencia (Y/N): ')
  if respuesta == 'Y':
    qty = int(input('Cantidad de licencias a comprar: '))
    costo_t = costo * qty
    carrito.append(costo_t)
    print(Licencia, ': $', costo_t)
  elif respuesta == 'N':
    print('Favor de volver al carrito')
sum = sum(carrito)
print('Total a pagar $', sum)

In [ ]:
cantLicencia = int(input('Ing. Cantidad de licencia: '))
tipoLicencia = input('Ing. tipo de licencia')

In [ ]:
totalBronce = 0
totalSilver = 0
totalGold = 0

In [ ]:
if tipoLicencia = 'Bronze':
  totalBronce = totalBronce + cantLicencia